<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" type="text/css" href="{% static 'marinoApp/styling.css' %}">
        <link href="{% static 'marinoApp/bootstrap-4/css/bootstrap.min.css' %}" rel="stylesheet">
        <title> Equipment </title>
    </head>

    <form method="post" action="/all/" id = "duplicates"> {% csrf_token %} </form>

    <body>
        <h1 style="text-align: center"> Equipment that works out {{bodypart}}</h1>
        <br> <br>
        {% for entry in Equipment_for_bodypart %}
            <div style="text-align: center;">
                <button style="width: 270px" class="btn btn-primary" form="duplicates" name="equipmentName" value="{{entry.equipment.name}}" > {{entry.equipment.name}}</button>
            </div>
            <br>
        {% endfor %}


    </body>

</html>




